@model List<Projecto.Models.ViewModels.ComplainViewModel>
@{
    ViewBag.Title = "Quejas";
}

<h2>Quejas</h2>

<div class="row" style="text-align:right;padding:5px;">
    <a href="~/Complain/Nuevo" class="btn btn-primary">Nueva Queja</a>
</div>
<div class="col-md-12">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Matricula</th>
            <th>Campus</th>
            <th>Queja</th>
            <th>Fecha</th>
            <th></th>
        </tr>
        @foreach (var oElemento in Model)
        {
            <tr>
                <td>@oElemento.Id</td>
                <td>@oElemento.Nombre</td>
                <td>@oElemento.Matricula</td>
                <td>@oElemento.Campus</td>
                <td>@oElemento.Queja</td>
                <td>@oElemento.Fecha</td>
                <td>
                    <a class="btn btn-default" href="~/Complain/Editar/@oElemento.Id">Editar</a>
                    <a class="btn btn-danger" href="~/Complain/Eliminar/@oElemento.Id">Eliminar</a>
                    <a class="btn btn-default" style="background-color:red">Mover</a>
                </td>
            </tr>
        }
    </table>
</div>

